Repository opentofu/opentofu, pull requests merged in 2023-12, with the labels that each got.

#939 Fixes #292: Testing feature documentation
  website/docs/cli/commands/test.mdx
  website/docs/cli/commands/test/examples/.gitignore
  website/docs/cli/commands/test/examples/expect_failures_resources/main.tf
  website/docs/cli/commands/test/examples/expect_failures_resources/main.tftest.hcl
  website/docs/cli/commands/test/examples/expect_failures_variables/main.tf
  website/docs/cli/commands/test/examples/expect_failures_variables/main.tftest.hcl
  website/docs/cli/commands/test/examples/module/main.tf
  website/docs/cli/commands/test/examples/module/main.tftest.hcl
  website/docs/cli/commands/test/examples/module/test-harness/harness.tf
  website/docs/cli/commands/test/examples/nested-layout/main.tf
  website/docs/cli/commands/test/examples/nested-layout/main.tftest.hcl
  website/docs/cli/commands/test/examples/nested-layout/module/main.tf
  website/docs/cli/commands/test/examples/nested-layout/module/tests/main.tftest.hcl
  website/docs/cli/commands/test/examples/offline/main.tf
  website/docs/cli/commands/test/examples/offline/main.tftest.hcl
  website/docs/cli/commands/test/examples/plan/Dockerfile
  website/docs/cli/commands/test/examples/plan/main.tf
  website/docs/cli/commands/test/examples/plan/main.tftest.hcl
  website/docs/cli/commands/test/examples/provider_alias/Dockerfile
  website/docs/cli/commands/test/examples/provider_alias/main.tf
  website/docs/cli/commands/test/examples/provider_alias/main.tftest.hcl
  website/docs/cli/commands/test/examples/simple/main.tf
  website/docs/cli/commands/test/examples/simple/main.tftest.hcl
  website/docs/cli/commands/test/examples/test.sh
  website/docs/cli/commands/test/examples/variables/main.tf
  website/docs/cli/commands/test/examples/variables/main.tftest.hcl
  website/docs/cli/commands/test/flat-layout-module.txt
  website/docs/cli/commands/test/flat-layout.txt
  website/docs/cli/commands/test/index.mdx
  website/docs/cli/commands/test/nested-layout-module.txt
  website/docs/cli/commands/test/nested-layout.txt
Labels: documentation

#983 website: Better install instructions (GitHub actions compatible output)
  website/docs/intro/install/test-install-instructions.sh
Labels: documentation

#799 implement gunzipbase64
  internal/lang/funcs/descriptions.go
  internal/lang/funcs/encoding.go
  internal/lang/funcs/encoding_test.go
  internal/lang/functions.go
  internal/lang/functions_test.go
  website/data/language-nav-data.json
  website/docs/language/functions/gunzipbase64.mdx
Labels: accepted, f-function

#369 nonsensitive no longer produces error when applied to values that are not sensitive
  CHANGELOG.md
  internal/lang/funcs/sensitive.go
  internal/lang/funcs/sensitive_test.go
  website/docs/language/functions/nonsensitive.mdx
Labels: accepted
