Repository opentofu/opentofu, pull requests merged in 2023-10, with the labels that each got.

#670 fix(s3): allow aliases for kms key
  CHANGELOG.md
  internal/backend/remote-state/s3/validate.go
  internal/backend/remote-state/s3/validate_test.go
Labels: bug, accepted

#718 Build using golang 1.21
  .github/workflows/release.yml
  .go-version
  CHANGELOG.md
  go.mod
  go.sum
Labels: DO NOT MERGE

#701 Upgrade AWS SDK
  CHANGELOG.md
  go.mod
  go.sum
  internal/backend/remote-state/s3/backend.go
  internal/backend/remote-state/s3/backend_complete_test.go
  internal/backend/remote-state/s3/backend_state.go
  internal/backend/remote-state/s3/backend_test.go
  internal/backend/remote-state/s3/client.go
  internal/backend/remote-state/s3/client_test.go
  internal/backend/remote-state/s3/diags.go
  internal/backend/remote-state/s3/mocks_test.go
  internal/backend/remote-state/s3/validate.go
  internal/backend/remote-state/s3/validate_test.go
  website/docs/language/settings/backends/s3.mdx
Labels: enhancement

#749 Added Security disclousure policy
  README.md
  SECURITY.md
Labels: administrative

#754 Backend/S3: Extract `assume_role` as a separate block
  CHANGELOG.md
  internal/backend/remote-state/s3/backend.go
  internal/backend/remote-state/s3/backend_complete_test.go
  internal/backend/remote-state/s3/validate.go
  internal/backend/remote-state/s3/validate_test.go
  website/docs/language/settings/backends/s3.mdx
Labels: work in progress

#760 S3 backend add account ID whitelisting arguments
  CHANGELOG.md
  internal/backend/remote-state/s3/backend.go
  internal/backend/remote-state/s3/backend_complete_test.go
  internal/backend/remote-state/s3/backend_test.go
  website/docs/language/settings/backends/s3.mdx
Labels: enhancement
