Repository opentofu/opentofu, pull requests merged in 2023-09, with the labels that each got.

#327 Marshal plan#relevant_attributes in deterministic order
  internal/command/jsonplan/plan.go
  testing/equivalence-tests/outputs/data_read/plan.json
Labels: bug

#390 Backport: Relocate localterraform.com aliasing to backend configurators
  CHANGELOG.md
Labels: backport

#309 [RFC Implementation] Bypass gpg validation of packages if the registry does not provide any keys
  internal/command/init.go
  internal/getproviders/package_authentication.go
  internal/getproviders/package_authentication_test.go
  internal/getproviders/registry_client.go
  internal/getproviders/registry_source_test.go
  internal/providercache/installer.go
Labels: rfc, experiment

#435 fix /opentf links
  website/docs/cli/commands/apply.mdx
  website/docs/cli/commands/plan.mdx
  website/docs/language/expressions/types.mdx
  website/docs/language/syntax/json.mdx
Labels: documentation

#517 rename opentf in internal/plugin
  internal/plugin/discovery/meta_set.go
Labels: f-renaming

#522 Rename GitHub settings to OpenTofu
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/pull_request_template.md
  .github/scripts/e2e_test_linux_darwin.sh
  .github/scripts/equivalence-test.sh
  .github/scripts/get_product_version.sh
  .github/workflows/build-Dockerfile
  .github/workflows/build-opentf-oss.yml
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/compare-snapshots.yml
  .github/workflows/pr-lint.yml
Labels: f-renaming

#536 Renaming to OpenTofu leftover in `main.go`
  main.go
Labels: f-renaming
