Repository opentofu/opentofu, pull requests merged in 2024-12, with the labels that each got.

#2138 website: Initial documentation updates for dynamic provider instances
  website/docs/language/meta-arguments/examples/resource-provider-dynamic-instances.tf
  website/docs/language/meta-arguments/module-providers.mdx
  website/docs/language/meta-arguments/resource-provider.mdx
  website/docs/language/modules/develop/providers.mdx
  website/docs/language/providers/configuration.mdx
  website/docs/language/providers/index.mdx
Labels: documentation, enhancement

#2263 Azurerm backend timeout
  CHANGELOG.md
  internal/backend/remote-state/azure/arm_client.go
  internal/backend/remote-state/azure/backend.go
  internal/backend/remote-state/azure/backend_state.go
  internal/backend/remote-state/azure/backend_test.go
  internal/backend/remote-state/azure/client.go
  internal/backend/testing.go
  website/docs/language/settings/backends/azurerm.mdx
Labels: accepted

#2281 Warn user about provider version 0.0.0
  CHANGELOG.md
  internal/getproviders/filesystem_mirror_source.go
  internal/getproviders/filesystem_mirror_source_test.go
  internal/getproviders/testdata/filesystem-mirror-unspecified/registry.opentofu.org/testnamespace/unspecified/0.0.0/linux_amd64/unspecified-provider
  internal/providercache/installer.go
  internal/providercache/installer_test.go
Labels: accepted

#2306 Functions: decode_tfvars, encode_tfvars, encode_expr on bult-in provider for compatibility
  CHANGELOG.md
  internal/builtin/providers/tf/provider.go
  internal/builtin/providers/tf/provider_functions.go
  internal/builtin/providers/tf/provider_functions_test.go
  website/data/language-nav-data.json
  website/docs/language/functions/index.mdx
  website/docs/language/providers/builtin.mdx
  website/docs/language/providers/configuration.mdx
  website/docs/language/providers/requirements.mdx
Labels: documentation, enhancement, core-team
