Repository opentofu/opentofu, pull requests merged in 2024-01, with the labels that each got.

#602 Use github.com/cli/browser
  go.mod
  go.sum
  internal/command/webbrowser/native.go
Labels: blocked-until-stable-release

#629 Drop dep on github.com/coreos/pkg
  go.mod
  go.sum
  internal/logging/logging.go
Labels: blocked-until-stable-release, hacktoberfest-accepted

#632 Add Solaris and AIX console support
  go.mod
  go.sum
  internal/command/console_interactive.go
  internal/command/console_interactive_solaris.go
Labels: blocked-until-stable-release, hacktoberfest-accepted

#366 Implement cidrcontains function
  CHANGELOG.md
  internal/lang/funcs/cidr.go
  internal/lang/funcs/cidr_test.go
  internal/lang/funcs/descriptions.go
  internal/lang/functions.go
  internal/lang/functions_test.go
  website/data/language-nav-data.json
  website/docs/language/functions/base64gunzip.mdx
  website/docs/language/functions/cidrcontains.mdx
Labels: enhancement, accepted
