Repository opentofu/opentofu, pull requests merged in 2024-02, with the labels that each got.

#1227 State Encryption Documentation and Partial Implementation
  docs/state_encryption.md
  internal/command/cliconfig/provider_installation.go
  internal/encryption/base.go
  internal/encryption/config/config.go
  internal/encryption/config/config_load.go
  internal/encryption/config/config_merge.go
  internal/encryption/config/config_merge_test.go
  internal/encryption/config/config_parse.go
  internal/encryption/encryption.go
  internal/encryption/example_test.go
  internal/encryption/keyprovider.go
  internal/encryption/keyprovider/addr.go
  internal/encryption/keyprovider/id.go
  internal/encryption/keyprovider/keyprovider.go
  internal/encryption/keyprovider/static/config.go
  internal/encryption/keyprovider/static/descriptor.go
  internal/encryption/keyprovider/static/example_test.go
  internal/encryption/keyprovider/static/provider.go
  internal/encryption/keyprovider/static/provider_test.go
  internal/encryption/method/addr.go
  internal/encryption/method/aesgcm/aesgcm.go
  internal/encryption/method/aesgcm/config.go
  internal/encryption/method/aesgcm/descriptor.go
  internal/encryption/method/id.go
  internal/encryption/method/method.go
  internal/encryption/methods.go
  internal/encryption/plan.go
  internal/encryption/registry/errors.go
  internal/encryption/registry/lockingencryptionregistry/new.go
  internal/encryption/registry/registry.go
  internal/encryption/state.go
  internal/encryption/targets.go
  internal/plugin/discovery/meta_set.go
  internal/varhcl/example_test.go
  internal/varhcl/schema.go
  internal/varhcl/vardecode.go
Labels: DO NOT MERGE

#1271 Add page about official OpenTofu Docker image
  website/docs/intro/install/docker-pull.sh
  website/docs/intro/install/docker-run.sh
  website/docs/intro/install/docker.mdx
  website/docs/intro/install/index.mdx
Labels: documentation, needs-backport

#1286 fix broken link
  website/docs/language/settings/tf-cloud.mdx
Labels: documentation, needs-backport

#1235 1078 prerelease vs release
  .github/workflows/release.yml
  .goreleaser.yaml
Labels: DO NOT MERGE

#1311 Update alpine-manual.sh
  website/docs/intro/install/alpine-manual.sh
Labels: documentation, needs-backport

#1315 Backport: #1314 removing erroneously added docs stuff
  website/docs/intro/install/.gitignore
  website/docs/intro/install/DO_NOT_ADD_LICENSE_HEADERS.txt
  website/docs/intro/install/alpine-manual.sh
  website/docs/intro/install/install-opentofu.sh
  website/docs/intro/install/verify-checksum.ps1
Labels: backport
