Repository opentofu/opentofu, pull requests merged in 2025-04, with the labels that each got.

#2640 rfc: Tracking Provider Authentication on a Per-hash Basis
  rfc/20250327-providerinst-auth-hashes.md
Labels: rfc

#2658 getproviders: OCIRegistryMirrorSource better handle missing provider
  internal/getproviders/oci_registry_mirror_source.go
  internal/getproviders/oci_registry_mirror_source_test.go
Labels: bug

#2681 command: Improve reliability of module install cancel tests
  internal/command/command_test.go
  internal/command/get_test.go
  internal/command/init_test.go
  internal/command/testdata/init-module-early-eval/init-module-early-eval.tf
  internal/command/testdata/init-registry-module/main.tf
Labels: bug, technical-debt

#2688 main: Docker credential helper support for OCI registry auth
  cmd/tofu/oci_distribution.go
  cmd/tofu/oci_distribution_test.go
Labels: enhancement

#2676 website: Documentation for module packages in OCI repositories
  website/docs/cli/oci_registries/index.mdx
  website/docs/cli/oci_registries/module-package.mdx
  website/docs/language/modules/sources.mdx
Labels: documentation

#2691 Documentation for the new `-target-file` and `-exclude-file` planning options
  internal/command/plan.go
  website/docs/cli/commands/plan.mdx
  website/docs/cli/state/resource-addressing.mdx
Labels: documentation

#2448 [RFC] OpenTelemetry (OTEL) Tracing for providing end users more context
  rfc/20250129-Tracing-For-Extra-Context.md
Labels: rfc

#2404 Revert "Temporary revert minimal image docs"
  website/docs/intro/install/docker.mdx
Labels: blocked

#2732 ociauthconfig: Tolerate weird "auths" objects in Docker-style configs
  internal/command/cliconfig/ociauthconfig/docker_cli_credentials_config.go
  internal/command/cliconfig/ociauthconfig/docker_cli_credentials_config_test.go
Labels: bug
