Repository opentofu/opentofu, pull requests merged in 2025-01, with the labels that each got.

#2346 RFC: Naming convention for internal variables representing "contexts"
  rfc/20250108-naming-convention-for-context-vars.md
Labels: rfc

#2377 rfc: Update README.md to discuss RFC Tracking Issues
  rfc/README.md
Labels: documentation

#2302 Add example on supporting both OpenTofu and Terraform versions to version-constraints.mdx
  website/docs/language/expressions/version-constraints.mdx
Labels: question
