Repository opentofu/opentofu, pull requests merged in 2025-03, with the labels that each got.

#2180 [RFC] Deprecation of module variables and outputs
  rfc/20241118-module-vars-and-outputs-deprecation.md
Labels: blocked

#2163 RFC: Providers and Modules from OCI Registries
  rfc/20241206-oci-registries.md
  rfc/20241206-oci-registries/1-oci-primer.md
  rfc/20241206-oci-registries/10-module-implementation-details.md
  rfc/20241206-oci-registries/2-survey-results.md
  rfc/20241206-oci-registries/3-design-considerations.md
  rfc/20241206-oci-registries/4-providers.md
  rfc/20241206-oci-registries/5-modules.md
  rfc/20241206-oci-registries/6-authentication.md
  rfc/20241206-oci-registries/7-open-questions.md
  rfc/20241206-oci-registries/8-auth-implementation-details.md
  rfc/20241206-oci-registries/9-provider-implementation-details.md
Labels: rfc

#2562 rfc: OpenTofu Codebase Linting Policy
  rfc/20241113-pragmatic-complexity-linting.md
  rfc/20250303-linter-policy.md
Labels: rfc

#2553 lang/funcs: transpose panics with null elements
  CHANGELOG.md
  internal/lang/funcs/collection.go
  internal/lang/funcs/collection_test.go
Labels: bug

#2600 rfc: Security Advisory Policy for Upstream Dependencies
  rfc/20250314-security-patch-policy.md
Labels: rfc
